  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
header{
    padding: 50px;
}
header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: white;
    background: black;
    transition: all 500ms ease;
}
header nav ul li:not(.active):not(.btn) a:hover {
    background: #FA9021;
    padding: 5px 14px;
    border-radius: 5px; 
    transform: scale(1.1);
}
header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px; 
    transition: all 500ms ease;
}
header nav ul li.btn a:hover{
    background: #934e05;
}
header nav ul li.active a:hover{
    background: #934e05;
    padding: 9px 17px;
    border-radius: 5px; 
    transition: all 500ms ease;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero--info{
    width: 530px;
    padding-top: 60px;
}
.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}
.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px;
}
.hero--info .btn {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 20px;
    border: 0;
    transition: all 500ms ease;
}
.hero--info .btn:hover{
    font-size: 16px;
    color: white;
    background: #934e05;
    transform: scale(1.1);
}
.hero img{
    position: absolute;
    top: -150px;
    right: 0;
}





 .trend {
    padding: 50px;
}
.trend h3 {
    font-weight: 600;
    font-size: 31px;
}
.trend .see-all {
    color: white;
    background: #25211D;
    border-radius: 20px;
    padding: 12px 23px;
    display: block;
    float: right;
    transition: 500ms ease;
}
.trend .see-all:hover{
    background: #934e05;
    transform: scale(1.1);
}
.trend .games {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.trend .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.trend .games span img {
    position: relative;
    top: 5px;
}
.trend .games img {
    transition: all 500ms ease;
}
.trend .games img:hover {
    transform: scale(1.05);
}
.big-text {
    padding: 50px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}
.banner {
    padding: 80px;
}
.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner p {
    line-height: 170%;
    text-align: left;
    width: 540px;
}
.banner img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}






.features {
    background: #000000;
    background-size: cover;
    padding: 80px 0;
}
.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.features h3 {
    font-size: 30px;
}
.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}
.features .info .block img {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    transition: all 500ms ease;
}
.features .info .block .white-icon{
    left:35px;
}
.features .info .block .orange-icon{
    left: -35px;
    opacity: 0;
}
.features .info .block .orange-icon:hover {
    opacity: 1;
}
.features .info .block img:hover {
    transform: scale(1.1);
}







.projects {
    padding: 100px 0;
}
.projects h3 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.projects p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
}
.projects .images {
    transition: all 500ms ease;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.projects .images .pr1:hover {
    transform: scale(1.2);
}
.projects .images .pr2:hover {
    transform: scale(1.2);
}
.projects .images .pr3:hover {
    transform: scale(1.2);
}
.projects .images .pr4:hover {
    transform: scale(1.2);
}
.projects .images .pr5:hover {
    transform: scale(1.2);
}
.projects .images .pr6:hover {
    transform: scale(1.2);
}
.projects .images .pr1 {
    transition: all 500ms ease;
}
.projects .images .pr2 {
    transition: all 500ms ease;
}
.projects .images .pr3 {
    transition: all 500ms ease;
}
.projects .images .pr4 {
    transition: all 500ms ease;
}
.projects .images .pr5 {
    transition: all 500ms ease;
}
.projects .images .pr6 {
    transition: all 500ms ease;
}
.projects .see-all {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #3b342f;
    border-radius: 20px;
    padding: 12px 23px;
    transition: 500ms ease;
    width: 80px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.projects .see-all:hover {
    background: black;
    transform: scale(1.1);
}
.email {
    padding-bottom: 120px;
}
.email h3 {
    margin-top: 60px;
    font-size: 30px;
}
.email .block {
    background: #1C140F;
    margin-top:30px;
    border-radius: 20px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}
.email .block p {
    width: 550px;
}
.email .block input {
    background: white;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    padding: 10px 10px;
    color: black;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 110px;
}
.email .block input::placeholder {
    color: #898989;
}
.email .block button {
    background: #FA9021;
    padding: 9px 18px;
    border-radius: 5px; 
    transition: all 500ms ease;
    border:0;
    color:white;
    position: relative;
    z-index: 2;
}
.email .block button:hover {
    background: #934e05;
    cursor: pointer;
} 



footer .block img {
    display: inline-block;
    position: relative;
    margin-bottom: 1px;
    transition: all 500ms ease;
}
footer .block img:hover {
    cursor: pointer;
}
footer .info .block{
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
}
footer .info .block .white-icon{
    left:35px;
}
footer .info .block .orange-icon{
    left: -27px;
    bottom: -1px;
    opacity: 0;
}
footer .info .block .orange-icon:hover {
    opacity: 1;
}
footer .info .block img:hover {
    transform: scale(1.2);
}
footer {
    background: black;
    padding: 50px 0;
}
footer .blocks {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 800;
}
footer .blocks p {
    width: 300px;
    margin: 15px 0;
}
footer .blocks h4 {
    font-weight: 600;
    font-size: 17px;
}
footer .blocks ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .blocks ul li {
    margin-top: 7px;
    border: 0;
    display: block;
    background: none;
    border-top: 2px #934e0500 solid;
    border-bottom: 2px #934e0500 solid;
    transition: all 500ms ease;
}
footer .blocks ul li:hover {
    border-top: 2px #934e05 solid;
    border-bottom: 2px #934e05 solid;
    transform: scale(1.01);
    cursor: pointer;
}
footer hr{
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #3b342f;
}
footer p {
    text-align: center;
}
